
<div class="py-6 ">
  <div class ="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2 bg-gray-100 ">
    <div class="pt-2 pl-3">
      <div class="">
        <h1 class="text-2xl font-semibold"> Forgot your Password</h1>
        <h2 class="text-base "> Please key in your username to find if your account exists</h2>
        <div class="text-right  pr-4" *ngIf="currentValue==0">
          <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>
        </div>
      </div>

      <nz-divider></nz-divider>



      <div class="center-steps">
        <nz-steps [nzCurrent]="currentValue" class="small-steps">
          <nz-step nzTitle="Find Account" nzDescription=""></nz-step>
          <nz-step nzTitle="Update Password" nzDescription=""></nz-step>
        </nz-steps>
      </div>



      <div *ngIf="currentValue==0 else updatePassword">
        <label class="text-base font-semibold pt-2">Username</label>

        <div class="pt-2 ">
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitRequest()">
            <nz-form-item class="sizing">
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group class="no-border"  [nzAddOnAfter]="suffixButton">
                  <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
                <ng-template #suffixButton>
                  <button nz-button nzType="primary" nzSearch style="border: none;">Search</button>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>

<!--        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">-->
<!--          <input type="text" nz-input placeholder="Enter in Username" [(ngModel)]="value" />-->
<!--        </nz-input-group>-->
<!--        <ng-template #suffixButton>-->
<!--          <button (click)="submitRequest()" nz-button nzType="primary" nzSize="large" nzSearch>Search</button>-->
<!--        </ng-template>-->
      </div>

    </div>
  </div>
</div>

<ng-template #updatePassword>
  <div>
    <label class="text-base font-semibold pt-2">Update Password</label>
    <br>
    <label class="text-sm font-normal pt-2">Please key in your new Password</label>
  </div>

  <div class="pt-2 ">
    <form nz-form [formGroup]="updateValidateForm" class="login-form" (ngSubmit)="submitNewUpdate()">
      <nz-form-item class="sizing">
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group  [nzAddOnAfter]="suffixButton">
            <input type="password" nz-input formControlName="updatePassword" placeholder="Password" />
          </nz-input-group>
          <ng-template #suffixButton class>
            <button  nz-button nzType="primary"  nzSearch>Update Password</button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

</ng-template>
