.center {
  margin: auto;
  width: 30%;
  height:64%;
  min-height: 500px ;
}

.center-steps {
  display: flex;
  justify-content: center;
}

.small-steps .ant-steps-item-tail {
  margin-left: 8px;
}

.small-steps .ant-steps-item-content {
  font-size: 12px;
  width: 80px;
  text-align: center;
}

.no-border button {
  border: none;
}
