<div>
  <div class="rounded-lg">
    <nz-table #basicTable [nzData]="customer_orderPastHistoryList" class="rounded-lg">
      <thead>
      <tr class="text-center">
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Product ID</th>
        <th>Order Total</th>
        <th>Order Seller Username</th>
        <th>Order Description</th>
        <th>Order Status</th>
        <th>Transaction Link</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of customer_orderPastHistoryList " class="text-left">
        <td>{{data.id_order}}</td>
        <td>{{data.order_date}}</td>
        <td>{{ data.order_priceamount}}</td>
        <td>{{ data.product_id}}</td>
        <td>{{ data.order_seller_username}}</td>
        <td>{{ data.order_description}}</td>
        <td>{{ data.order_status}}</td>
        <td>
          <a (click)="openWebsite(data.order_transaction_record)">
            Click Here
          </a>
        </td>
<!--          <a>Action 一 {{ data.name }}</a>-->
<!--          <nz-divider nzType="vertical"></nz-divider>-->
<!--          <a>Delete</a>-->
<!--        </td>-->
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
