<div>

  <div class="grid grid-rows-2 gap-y-2">
    <h1 class="text-2xl">View Products</h1>
    <p class="text-sm">Here you can view your products</p>
  </div>

  <nz-divider></nz-divider>

  <div>
    <nz-table
      #sortTable
      nzShowSizeChanger
      [nzData]="product">
      <thead >
        <tr class="text-center" >
<!--          <th class="bg-black w-14"-->
<!--            [nzSelections]="listOfSelection"-->
<!--            [(nzChecked)]="checked"-->
<!--            [nzIndeterminate]="indeterminate"-->
<!--            (nzCheckedChange)="onAllChecked($event)"-->
<!--          ></th>-->
<!--          <th>No</th>-->
<!--          <th>Product Name</th>-->
<!--          <th>Product Category</th>-->
<!--          <th>Product Price</th>-->
<!--          <th>Product Quantity</th>-->
<!--          <th class="text-center">Action</th>-->
          <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
            {{ column.title }}
          </th>
          <th class="text-center">Action</th>

        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data;let i = index;" class="text-center">
<!--        <td [nzChecked]="setOfCheckedId.has(i)" (nzCheckedChange)="onItemChecked(i, $event)"></td>-->
<!--        <td>{{i+1}}</td>-->
        <td>{{data.id_product}}</td>
        <td>{{data.product_name}}</td>
        <td>{{data.product_category}}</td>
        <td>{{data.product_price}}</td>
        <td>{{data.product_quantity}}</td>
        <td>
          <div class="grid grid-cols-2">
            <div>
              <a (click)="redirectToEdit(i)" class="hover:text-teal-500">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </a>
            </div>
            <div>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure to delete this product?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteSelectedProduct(i)"
                class="hover:text-red-700">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </a>
<!--              <button-->
<!--                nz-popconfirm-->
<!--                nzPopconfirmTitle="Are you sure to delete this product?"-->
<!--                nzPopconfirmPlacement="bottom"-->
<!--                (nzOnConfirm)="deleteSelectedProduct(i)">-->
<!--                Delete-->
<!--              </button>-->
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

