<!--Error is the first div-->
<div class="py-6 ">
  <div class ="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2 bg-gray-100 " >
    <div class="grid grid-cols-4 ">

      <!--    Need to check if there is an eror here-->
      <div class=" overflow-hidden rounded-l-lg rounded-bl-lg col-span-2">
<!--        <img src="../../assets/images/pexels-cottonbro-studio-5076516.jpg" class="max-w-[23rem] 2xl:max-w-[25.1rem] overflow-hidden  " >-->
      </div>

      <div class="grid grid-rows-3 content-center max-h-[40rem] col-span-2  ">
        <div class="row-span-1 ">
          <div class="pt-3 pb-8">
            <h1>Get Started</h1>
            <br>
            <p>Create your account now</p>
          </div>

          <!--        Switch-->
<!--          <div class="text-right py-4 pr-4  ">-->
<!--            <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>-->
<!--          </div>-->

<!--          <p>{{switchValue}}</p>-->
          <div *ngIf="switchValue==0">
            <form  nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [nzLayout] ="'vertical'" >
              <!--  Username-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username" class="text-left">Username</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
                  <input nz-input formControlName="username" id="username" class="w-80" />
                </nz-form-control>
              </nz-form-item>


              <!--  //Email-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email" class="text-left">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="email" id="email" class="w-80" />
                </nz-form-control>
              </nz-form-item>


              <!--  //Password-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" class="text-left" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                  <input
                    nz-input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="w-80"
                  />
                </nz-form-control>
              </nz-form-item>

              <!--  PhoneNumber-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" class="text-left" nzRequired>Phone Number</nz-form-label>
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  [nzValidateStatus]="validateForm.controls['phoneNumber']"
                  nzErrorTip="Please input your phone number!">
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="phoneNumberPrefix" class="phone-select ">
                        <nz-option nzLabel="+60" nzValue="+86"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input class="w-80" formControlName="phoneNumber" id="'phoneNumber'" nz-input  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <!--  //Address-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address" class="text-left">Address</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
                  <input nz-input formControlName="address" id="address" class="w-80" />
                </nz-form-control>
              </nz-form-item>


              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <label nz-checkbox formControlName="agree">
                  <span class="text-left">
                    I have read the<a>agreement</a>
                  </span>
                  </label>
                </nz-form-control>
              </nz-form-item>



              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6" class="text-right">
                  <button nz-button nzType="primary">Register</button>
                </nz-form-control>
              </nz-form-item>

            </form>
          </div>

          <div *ngIf="switchValue==1">
            <form  nz-form [formGroup]="sellerValidateForm" (ngSubmit)="submitForm()" [nzLayout] ="'vertical'" >

              <!--  Username-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sellerUsername" class="text-left">Username</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
                  <input nz-input formControlName="sellerUsername" id="sellerUsername" class="w-80" />
                </nz-form-control>
              </nz-form-item>

              <!--  //Email-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sellerEmail" class="text-left">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="sellerEmail" id="sellerEmail" class="w-80" />
                </nz-form-control>
              </nz-form-item>

              <!--  //Password-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sellerPassword" class="text-left" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                  <input
                    nz-input
                    type="password"
                    id="sellerPassword"
                    formControlName="sellerPassword"
                    class="w-80"
                  />
                </nz-form-control>
              </nz-form-item>

              <!--  PhoneNumber-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sellerPhoneNumber" class="text-left" nzRequired>Phone Number</nz-form-label>
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  [nzValidateStatus]="sellerValidateForm.controls['sellerPhoneNumber']"
                  nzErrorTip="Please input your phone number!"

                >
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="sellerPhoneNumberPrefix" class="phone-select ">
                        <nz-option nzLabel="+60" nzValue="+86"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input class="w-80" formControlName="sellerPhoneNumber" id="'sellerPhoneNumber'" nz-input  />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <!--  //Address-->
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sellerAddress" class="text-left">Address</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
                  <input nz-input formControlName="sellerAddress" id="sellerAddress" class="w-80" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sellerWalletAddress" class="text-left">Wallet Address</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Wallet Address">
                  <input nz-input formControlName="sellerWalletAddress" id="sellerWalletAddress" class="w-80" />
                </nz-form-control>
              </nz-form-item>


              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <label nz-checkbox formControlName="sellerAgree">
                  <span class="text-left">
                    I have read the<a>agreement</a>
                  </span>
                  </label>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6" class="text-right">
                  <button nz-button nzType="primary">Register</button>
                </nz-form-control>
              </nz-form-item>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



