<header class="pb-14 ">
  <div class="navbar-light bg-teal-300">
    <div class="mx-4 bg-teal-300 ">
      <nav class="navbar navbar-expand-lg navbar-light bg-teal-300 grid grid-cols-12 ">

        <a class="navbar-brand " href="#">CryptoCart</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <div>
              <li class="nav-item active mr-auto">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
            </div>

            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>

            <li class="nav-item">
              <p>awa</p>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="center">

    <!--  Username-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username" class="text-left">Username</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
        <input nz-input formControlName="username" id="username" />
      </nz-form-control>
    </nz-form-item>



    <!--  //Email-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email" class="text-left">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>


    <!--  //Password-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" class="text-left" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
        />
      </nz-form-control>
    </nz-form-item>

    <!--  PhoneNumber-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" class="text-left" nzRequired>Phone Number</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="Please input your phone number!"
      >
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+60" nzValue="+86"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!--  //Website-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address" class="text-left">Address</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input username">
        <input nz-input formControlName="address" id="address" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
            <span>
              I have read the
              <a>agreement</a>
            </span>
        </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6" class="text-right">
        <button nz-button nzType="primary">Register</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>

