<header>
  <div class="navbar-light bg-teal-300  ">
    <div class="mx-4 ">
      <nav class="navbar navbar-expand-lg navbar-light  bg-teal-300 grid grid-cols-12">

        <!--        Logo-->
        <ng-container *ngIf="userAccountSession.userRole === 'Buyer' || !loggedIn; else sellerLayout">
          <a class="navbar-brand text-xl " href="#">CryptoCart</a>

          <!--        Products-->
          <a class="col-span-1 font-medium text-base text-center" href="productHomepage">Products</a>

          <a class="col-span-1 font-medium text-base text-center" href="productHomepage/clothes">Clothes</a>

          <a class="col-span-1 font-medium text-base text-center"   href="productHomepage/electronics"
             >Electronics</a>

          <a class="col-span-1 2xl:font-medium text-base text-center"  href="productHomepage/Home & Living">Home and Living</a>

          <a class="col-span-1 font-medium text-base text-center" href="productHomepage/Shoes">Shoes</a>

          <a class="col-span-3 font-medium text-base " href="contactUs">Contact Us</a>

          <div></div>
        </ng-container>

        <ng-container *ngIf="!loggedIn; else LoggedIn" >
          <div class="grid grid-cols-2">
            <a routerLink="/login" class="text-center text-base font-medium ">
              Login
            </a>
            <a routerLink="register" class="text-center text-base font-medium ">
              Register
            </a>
          </div>
        </ng-container>

      </nav>
    </div>
  </div>
</header>

<ng-template #LoggedIn>
  <a nz-dropdown [nzDropdownMenu]="menu">
    <p class="font-medium text-base">{{userAccountSession.username}}</p>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <ng-container *ngIf="userAccountSession.userRole === 'Buyer'">
        <li nz-menu-item>
          <a [routerLink]="['profileManagementLayout', 'accountManagement']">Account Management</a>
        </li>

        <li nz-menu-item>
          <a [routerLink]="['profileManagementLayout','pastOrderHistory']">
            View Past Order History
          </a>
        </li>
      </ng-container>

      <li nz-menu-item nzDanger>
        <a (click)="loggedOut()">Log out</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>

<ng-template #sellerLayout>
  <a class="navbar-brand " href="sellerLayout">CryptoCart</a>
  <a class=" col-span-9" ></a>
</ng-template>

