<div>
  <nz-result
             nzStatus="success"
             nzTitle="Successfully Edited your details for your Account"
             nzSubTitle="Changes can be viewed at Profile Management Component
    me time to showcase"
  >
    <div nz-result-extra>
      <button nz-button (click)="redirect()" nzType="primary">Return to Profile Management</button>
      <button  nz-button [routerLink]="'sellerProductTableView'"  *ngIf="userAccountSession.userRole=='Seller'">Return to Seller Homepage</button>
    </div>
  </nz-result>
</div>
