nz-select {
  width: 300px;
}

[nz-carousel-content] {
  text-align: center;
  height: 250px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  height:64%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.secondLayer{
  margin: auto;
  width: 70%;
  /*height:60%;*/
  padding-top: 4px;
  padding-bottom: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}

.grid-item {
  text-align: center;
}
