<div class="h-fit">
  <div class="grid grid-rows-12 gap-4">

    <div class="pt-4" style="background: #ECECEC">
      <div class="center " >
        <div class="grid grid-cols-2">
          <div class="grid grid-rows-3 gap-2">
            <div>
              <h1 class="text-6xl font-semibold">
                Easy Order <br> Quick Delivery
              </h1>
            </div>
            <div class="pt-2">
              <p class="text-lg font-light subpixel-antialiased font-sans">
                Selling and Buying Online using cryptocurrencies has never
                been easier, faster or more reliable. Join and try the revolutionary way
                of E-Commerce
              </p>
            </div>
            <div class="">
              <button class="bg-teal-400 h-16 w-44 text-lg text-white rounded-full"
                      (click)="redirectToPages(1)">Register Now</button>
            </div>
          </div>
          <div class=" overflow-hidden rounded-l-lg rounded-bl-lg">
            <img [lazyLoad]="'./../assets/images/homepage_Sale.webp'" class="rounded-full" >
          </div>
        </div>
      </div>
    </div>


    <div>
      <div class="grid grid-cols-9 w-auto pt-4 ">
        <div class="col-start-2 col-span-5  ">
          <div>
            <h1 class="text-2xl font-semibold">Shop our Categories</h1>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-6 w-auto pt-4  pb-4">
        <div class="col-start-2">
          <div class="secondLayer h-32 flex items-center justify-center cursor-pointer"
               style="background-image: url('./../assets/images/homepage_clothes_2.webp');
             background-size: cover; background-position: center; background-repeat: no-repeat;"
               (click)="redirectToCategoriesPage('clothes')">
            <p class="text-white text-xl" >
              Clothes</p>
          </div>
        </div>
        <div class="">
          <div class="secondLayer bg-black h-32 flex items-center justify-center cursor-pointer"
               style="background-image: url('./../assets/images/homepage_electronics.webp');
             background-size: cover; background-position: center; background-repeat: no-repeat;"
               (click)="redirectToCategoriesPage('electronics')">
            <p class="text-white text-xl">Electronics</p>
          </div>
        </div>
        <div class="">
          <div class="secondLayer bg-black h-32 flex items-center justify-center cursor-pointer"
               style="background-image: url('./../assets/images/homepage_home&living.webp');
             background-size: cover; background-position: center; background-repeat: no-repeat;"
               (click)="redirectToCategoriesPage('Home & Living')">
            <p class="text-white text-xl">Home and Living</p>
          </div>
        </div>
        <div class="">
          <div class="secondLayer bg-black h-32 flex items-center justify-center cursor-pointer"
               style="background-image: url('./../assets/images/homepage_shoes.webp');
             background-size: cover; background-position: center; background-repeat: no-repeat;"
               (click)="redirectToCategoriesPage('shoes')">
            <p class="text-white text-xl">Shoes</p>
          </div>
        </div>
      </div>
    </div>




    <div class="pt-4" style="background: #ECECEC">
      <div class="center ">
        <div class="grid grid-cols-2 pt-5">
          <div class="grid grid-rows-3 gap-2 h-fit">
            <div>
              <h1 class="text-6xl font-semibold">
                Best Customer <br> Experience
              </h1>
            </div>
            <div class="pt-2">
              <p class="text-lg font-light subpixel-antialiased font-sans">
                We provide the best customer experince to our users. There has never been easier,faster
                or more better way to purcahse products online
              </p>
            </div>
            <div class="flex items-center h-fit gap-x-2" (click)="redirectToPages(2)">
              <a  class="font-bold text-lg text-sky-400">Contact Us</a>
              <span nz-icon nzType="arrow-right" nzTheme="outline" class="text-lg my-auto text-sky-400 cursor-pointer"></span>
            </div>
          </div>
          <div class="grid-container pb-32">
            <nz-card *ngFor="let item of items" nzHoverable class="grid-item">
              <i nz-icon [nzType]="item.icon" nzTheme="outline" class="text-2xl pb-3"></i>
              <p class="text-lg">{{ item.description }}</p>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




