<div class="rounded-lg">
  <div>
    <h1 class="text-3xl">Welcome {{userAccountSession.username}}</h1>
  </div>

  <nz-divider></nz-divider>

  <div style="background: #fffdfd; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-card class="rounded-lg  shadow-md shadow-cyan-500/50">
          <nz-statistic
            [nzValue]="(numberOfSales| number: '1.0-2')!"
            [nzTitle]="'Number of Sales'"
            [nzPrefix]="prefixTplOne"
            [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
          <ng-template #prefixTplOne>
            <span nz-icon nzType="rise" nzTheme="outline" class="display: block"></span>
          </ng-template>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card class="rounded-lg shadow-cyan-500/50 shadow-md">
          <nz-statistic
            [nzValue]="salesProfit2"
            [nzTitle]="'All time Profit'"
            [nzPrefix]="prefixTplOne2"
            [nzSuffix]="'ETH'"
            [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
          <ng-template #prefixTplOne2>
            <span nz-icon nzType="dollar-circle" nzTheme="outline" class="display: block"></span>
          </ng-template>
        </nz-card>
      </nz-col>
    </nz-row>
  </div>

  <nz-divider></nz-divider>

  <app-seller-product-table-view></app-seller-product-table-view>

</div>
