
<div class="">
  <div class ="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2 bg-gray-100 " >
    <div class="grid grid-cols-2 ">

      <!--    Need to check if there is an eror here-->
      <div class=" overflow-hidden rounded-l-lg rounded-bl-lg">
        <img src="../../assets/images/pexels-cottonbro-studio-5076516.jpg" class="max-w-[23rem] 2xl:max-w-[25.1rem] overflow-hidden  " >
      </div>

      <div class="grid grid-rows-5 justify-around items-end">
        <div class="row-span-3 pt-24">

          <!--        Switch-->
          <div class="text-right pb-4 ">
            <!--          <nz-switch [(ngModel)]="switchValue" ></nz-switch>-->
            <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>
          </div>

          <!--        Profile_Icon-->
          <div class="sizing_Profile">
            <span class="material-symbols-outlined sew">account_circle</span>
          </div>

          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

            <!--      Username-->
            <nz-form-item class="sizing">
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>


            <!--      Password-->
            <nz-form-item class="sizing">
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <!--      Button-->
            <div class="sizing py-3 text-right">
              <button nz-button class="login-form-button login-form-margin text-right rounded-full " [nzType]="'primary'">Log in</button>
            </div>

            <div class="text-center text-bold">
              <a routerLink="/register" class="text-center">Don't have an Account? Sign Up Now!</a>
            </div>


          </form>
        </div>

      </div>

    </div>
  </div>
</div>



