<div class="py-6 ">
  <div class ="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2 bg-gray-100 " >
    <div class="grid grid-cols-2 ">

      <div class=" overflow-hidden rounded-l-lg rounded-bl-lg">
        <img [lazyLoad]="'./../assets/images/tester_2.jpg'" >
      </div>

      <div class="grid grid-rows-3 content-center max-h-[32rem]  ">
        <div class="row-span-1 ">

          <div class="text-right py-4 pr-4  ">
            <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>
          </div>

          <div class="sizing_Profile">
            <span class="material-symbols-outlined sew">account_circle</span>
          </div>

          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

            <nz-form-item class="sizing">
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="sizing">
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <div class="sizing py-3 text-right">
              <button nz-button class="login-form-button login-form-margin text-right rounded-full " [nzType]="'primary'">Login</button>
            </div>

            <div class="text-center text-bold">
              <a (click)="redirectToRegister()" class="text-center">Don't have an Account? Sign Up Now !</a>
            </div>

            <div class="text-center text-bold pt-3">
              <a routerLink="/forgetPassword" class="text-center">Forgot Password</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>



