nz-header{
  background: #7dbcea;
  color: #fff;
}

.center {
  margin: auto;
  width: 50%;
  height:64%;
}

.center2{
  padding-top: 8%;
  padding-bottom: 5%;
}

nz-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #7dbcea;
  color: #fff;
}

.sizing_Profile{
  width:100px;
  margin: auto;
  padding-bottom: 10px;
  font-size: 46px;
}

.sizing_21{
  margin: auto;
}

.sew{
  font-size: 120px;
}

.sizing{
  width:300px;
  margin: auto;
  padding-bottom: 10px;
}

.btnsizing{
  width:150px;
  margin: auto;
  padding-bottom: 10px;
}

code-box-demo {
  overflow-x: auto;
}

.code-box-demo .ant-segmented {
  margin-bottom: 10px;
}

[nz-button] {
  margin-right: 8px;
}
