

<!--Card Component-->
<div class="grid grid-cols-7 py -4 ">
  <div class="col-span-1">
  </div>

  <div class="col-span-5"  style="background: #ECECEC;padding:30px;" >

    <div class="" style="background: whitesmoke">
      <div class="grid grid-cols-6">

        <!--        Category-->
        <div class=" col-span-2 p-4 ">
          <div class="grid grid-cols-4">
            <p class="m-auto">Categories :</p>
            <nz-select ngModel="lucy" [nzOptions]="categoriesOption" class="w-44 pl-2" ></nz-select>
          </div>
        </div>

        <!--        Price-->
        <div class=" col-span-2 p-4 ">
          <div class="grid grid-cols-4">
            <p class="m-auto">Price :</p>
            <nz-select ngModel="lucy" [nzOptions]="priceOption" class="w-44" ></nz-select>
          </div>
        </div>
        <!--        <div class=" col-span-2 ">-->
        <!--          <p class="pb-2">Price :</p>-->
        <!--          <nz-select ngModel="lucy" [nzOptions]="listOfOption"></nz-select>-->
        <!--        </div>-->

        <!--        Search-->
        <!--        <div class=" col-span-2 p-4 ">-->
        <!--          <div class="grid grid-cols-4">-->
        <!--            <p class="m-auto">Search :</p>-->
        <!--            <nz-select ngModel="lucy" [nzOptions]="listOfOption"></nz-select>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div class="col-span-2">-->
        <!--          <p class="pb-2">Price :</p>-->
        <!--          <nz-select ngModel="lucy" [nzOptions]="listOfOption"></nz-select>-->
        <!--        </div>-->
      </div>
    </div>

    <div nz-row [nzGutter]="4" class="gap-y-3 pt-3">

      <div nz-col [nzSpan]="4"  *ngFor="let products of product">
        <nz-card nzTitle={{products.product_name}}>
          <div class="overflow-auto">
            <app-product-box [routerLink]="['/productProfilePage',products.id_product]"
              [productList]="products">
            </app-product-box>
          </div>
        </nz-card>
      </div>

    </div>
  </div>
</div>





