<div class="py-6">
  <div class ="center shadow-2xl shadow-cyan-500  rounded-md border-black ring-green-50 ring-2 bg-gray-100 py-6 overflow-hidden" >
    <div class="grid grid-cols-2 ">
      <div class="grid grid-rows-4">

        <div class=" grid grid-cols-6 text-center pt-4">
          <h1 class="text-3xl col-span-3 font-bold">Contact Us</h1>
        </div>


        <div class=" grid grid-cols-5 text-center">
          <div col-span-1>
            <span nz-icon nzType="phone" nzTheme="twotone" class="text-2xl"></span>
          </div>
          <div class="col-span-1 text-lg text-left font-semibold">Phone</div>
          <div class="col-span-2 text-lg text-left">03-50326891</div>
        </div>

        <div class="grid grid-cols-5 text-center">
          <div col-span-1>
            <span nz-icon nzType="mail" nzTheme="twotone" class="text-2xl"></span>
          </div>
          <div class="col-span-1 text-lg text-left font-semibold ">Email</div>
          <div class="col-span-2 text-lg">cryptocart@admincryptocart.com</div>
        </div>

        <div class="grid grid-cols-5 text-center">
          <div col-span-1>
            <span nz-icon nzType="bank" nzTheme="twotone" class="text-2xl"></span>
          </div>
          <div class="col-span-1 text-lg text-left font-semibold">Address</div>
          <div class="col-span-3">
            <p class="text-lg text-start" >
              Jalan Teknologi 5, Taman Teknologi Malaysia, 57000 Kuala Lumpur,
              Wilayah Persekutuan Kuala Lumpur
            </p>
          </div>
        </div>




      </div>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15936.586509784638!2d101.7005614!3d3.0554057!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4abb795025d9%3A0x1c37182a714ba968!2sAsia%20Pacific%20University%20of%20Technology%20%26%20Innovation%20(APU)!5e0!3m2!1sen!2smy!4v1679915336847!5m2!1sen!2smy"
                width="440" height="450" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>





