.center {
  margin: auto;
  width: 70%;
  height:auto;
  border: 3px orangered;
  /*padding: 10px;*/
}


.phoneNumber{
  width:100px
}

/*.center_2 {*/
/*  margin: auto;*/
/*  width: 70%;*/
/*  height:auto;*/
/*  !*height:64%;*!*/
/*  border: 3px orangered;*/
/*  !*padding: 10px;*!*/
/*}*/

.center_2 {
  width: 70%;
  /*border: 3px solid orangered;*/
  /*background-color: slateblue;*/
}

/*.parent{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100%; !* set the height of the parent container to 100% *!*/
/*}*/

.phoneNumber_Input{
  width:200px
}

.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
